html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

header {
	width: 100%;
	height: 150px;
	background-color: #cfcfcf;
	display: flex;
	flex-direction: row;
	padding: 30px 50px;
}

header > div {
	height: 100%;
	width: 50%;
}

header .logo img {
	height: 100%;
	/*padding: 20px;*/
}

header .navbar {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}

header .navbar nav {
	display: flex;
	flex-direction: row;
}

header .navbar ul {
	display: flex;
	flex-direction: row;
	list-style-type: none;
}

header .navbar li {
	padding: 10px 15px 0px 15px;
}

div.main-content {
	width: 100%;
	background-color: #3b3b3b;

}

div.main-content .container {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 50px;
}


div.main-content .container > div {
	height: 500px;
	width: 25%;
	min-width: 400px;
	background-color: #1e8bc3;
	margin: 20px;
}

.second-content {
	width: 100%;
}

.second-content .container {
	width: 100%;
	padding: 50px;
	background-color: #efefef;
}

.second-content .container > div {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.second-content .container > div > div {
	height: 400px;
	background-color: #1e8bc3;
	margin: 20px;
}

.second-content .container > div:nth-child(even) > div:first-child,
.second-content .container > div:nth-child(odd) > div:nth-child(2) {
	width: 50%;
	min-width: 500px;
}

.second-content .container > div:nth-child(even) > div:nth-child(2),
.second-content .container > div:nth-child(odd) > div:first-child {
	width: 30%;
	min-width: 300px;
}



@media screen and (max-width: 980px) {
	.second-content .container > div:nth-child(even) > div:nth-child(2),
	.second-content .container > div:nth-child(odd) > div:first-child {
		min-width: 500px;
	}
}

.number-content {
	width: 100%;
}

.number-content .container {
	
}



footer {
	width: 100%;
	height: 400px;
	background-color: #3b3b3b;
}